body {
    margin: 0;
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: "header header header" ".... content ....";
}

.header {
    grid-area: header;
    background-color: lightblue;
    text-align: center;
    display: grid;
    grid-template-rows: 6vh 4vh;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 650px 20% 465px 465px 10% 10% 5%;
    grid-template-areas:
            "firstImage  firstImage"
            "firstText   firstText"
            "secondImage secondImage"
            "secondText  nicki"
            "lastText    lastText"
            "....        ...."
            "footer      footer";
}

.firstText {
    grid-area: firstText;
    background-color: lightblue;
}

.firstImage {
    grid-area: firstImage;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.secondText {
    grid-area: secondText;
    background-color: dodgerblue;
}

.secondImage {
    grid-area: secondImage;
}

.lastText {
    grid-area: lastText;
    background-color: #BABABA;
}

.footer {
    grid-area: footer;
    background-color: mediumvioletred;
}

.nicki {
    grid-area: nicki;
}

.bottomtext {
    grid-row-start: 2;
}